<div>
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-3">Email:</div>
        <div class="col-md-6"><input id="txtEmailAddress" type="text" /> </div>
    </div>
    
</div>