doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/style/bootstrap-3.0.0/dist/css/bootstrap.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    block content
    script(src="//code.jquery.com/jquery.js")
    script(src="/style/bootstrap-3.0.0/dist/js/bootstrap.js")