doctype 5
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Raleway',rel='stylesheet',type='text/css')
    link(rel='stylesheet', href='/style/dist/css/bootstrap.min.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    block content
    script(src="//code.jquery.com/jquery.js")
    script(src="/style/dist/js/bootstrap.min.js")